@charset "utf-8";
@import "normalize";
@import "colors";
@import "fonts";

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

body {
  border-top: 6px solid $yellow;
  background-color: $white;
}

.clear {
  clear: both;
}

.main {
  .logo {
    text-align: center;
    padding: 30px;
  }

  h1, h2 {
    margin: 0 auto;
    width: 860px;
    color: $blue;
    text-align: center;
  }

  h1 {
    font-family: 'MarkMyWords';
  }

  h2 {
    font-size: 1.2em;
    font-weight: normal;
    padding-top: 20px;
  }

  .video {
    background: linear-gradient(0deg, $purple 80%, $white 20%);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .infos {
    margin: 0 auto;
    width: 960px;
    padding: 50px 0 30px 0;

    h3 {
      text-transform: uppercase;
      color: $blue;
    }

    p {
      color: $gray;
    }

    .left {
      float: left;
      width: 45%;
    }

    .right {
      float: right;
      width: 45%;

      label {
        border-left: 6px solid $blue;
        padding: 10px 10px;
        height: 50px;

        span {
          display: none;
        }
      }

      input[type="text"], input[type="email"] {
        border: 0;
        height: 50px;
        border-bottom: 1px solid $gray;
        width: 85%;
      }

      input[type="submit"] {
        border-radius: 40px;
        -moz-border-radius: 40px;
        -webkit-border-radius: 40px;
        background-color: $blue;
        padding: 20px 50px;
        text-transform: uppercase;
        border: 0;
        color: $white;
        margin: 30px 240px;
      }
    }
  }

  .button {
    text-align: center;
    background: linear-gradient(0deg, $white 50%, $purple 50%);

    a {
      border-radius: 40px;
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      border: 8px solid $white;
      background-color: $yellow;
      padding: 20px 50px;
      color: $purple;
      font-size: 1.2em;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

footer {
  background-color: $yellow;
  color: $purple;
  height: 150px;

  .container {
    padding-top: 20px;
    margin: 0 auto;
    width: 860px;

    .copyright {
      float: right;
      padding-top: 80px;
    }
  }
}
