---
title: Coraus
---

<div class="main">
  <div class="logo">
    <%= image_tag "coraus-logo.png" %>
  </div>

  <h1>conexão # escuta empática # consciência</h1>

  <h2>Apresentamos um espaço criado para você</h2>

  <div class="video">
    <iframe width="860" height="480" src="//www.youtube.com/embed/eeLTsEfQDGM" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="button">
    <a href="http://app.coraus.com.br/" target="_blank">Agende aqui a sua conexão empática</a>
  </div>

  <div class="infos">
    <div class="left">
      <h3>Missão</h3>
      <p>Contribuir com as pessoas na busca por qualidade de vida e felicidade por meio de escuta empática, auto-conhecimento, etc.</p>
      <h3>Visão</h3>
      <p>Promover verdadeiras conexões humanas consigo e com os outros.</p>
    </div>

    <div class="right">
      <h3>Contato</h3>
      <form>
        <!-- <label for="name"><input type="text" id="name" name="name" placeholder="Nome" /></label>
        <label for="email"><input type="text" id="email" name="email" placeholder="E-mail" /></label>
        <button type="submit">Enviar</button> -->
        <div class="sendgrid-subscription-widget" data-token="1M5Z249eGJzJ34D5llN3s2KkzNImaU9gZp8ImuJSw1pmhsJvugAYeWJXhtK1aWLO"></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://s3.amazonaws.com/subscription-cdn/0.2/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'sendgrid-subscription-widget-js');</script>
      </form>
    </div>
    <div class="clear"></div>
  </div>
</div>
